* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
  
}
.herosection {
  background-image: url(https://www.mintlify.com/hero/bg-light.svg);

  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
 padding-top: 90px;
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo > img {
  width: 18px;
}
.logo > p {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
/* .page {
  position: relative;
} */
.navparent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 16px ; */
  /* padding-top: 16px; */
  /* margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px; */
  padding: 16px 24px;
  /* gap: 60px; */
  width: 100%;
  

  position: fixed;
  top: 0;
  
background-color: rgba(128, 128, 128, 0.1); 
  backdrop-filter: blur(12px); 
}

.navul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.navul > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid transparent;
  border-radius: 15px;
}
.navul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid transparent;
  border-radius: 15px;
}

li > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
/* .navbutton{
    display: flex;
} */
.navbutton > button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.navbutton > #Contact {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.navbutton > #Start:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.middle-button > span > svg {
  color: white;
  height: 20px;
  padding-right: 4px;
}

.middle-button {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  gap: 10px;
  padding: 4px;
  

  border: 1px solid transparent;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.new {
  border: 1px solid transparent;
  padding: 4px 6px;

  background-color: #0c8c5e;
  border-radius: 22px;
  font-weight: 600;
  font-size: 12px;
}

.text > .headline {
  font-size: 58px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.text > .paragraph {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.start {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}
.start > span > input {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-top: 10px;
    padding-bottom: 10px;  */
  width: 100%;
  font-size: 15px;
}

.start > span > input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 500;
}
.start > span > input:focus {
  outline: none;
}
.start > span > button {
  background-color: white;
  border: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.start > span > button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.hero-image > img {
  background-size: 100% 120%;

  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 80px;
}
.Trusted-By {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0px; */
  gap: 0px;
}
.buttom-text-trusted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0px;
}
.buttom-text-trusted > .heading {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}
.buttom-text-trusted > .paragraph {
  text-align: center;
  font-size: 16px;
}

.introduction {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
  height: 530px;
}
.introduction > .left-card {
  padding: 25px;
  border: 0.1px solid #eeeeee;
  margin-left: 10px;
  border-radius: 30px;
  width: 40%;
}

.introduction > .left-card :first-child {
  font-size: 12px;
  color: #0c8c5e;
  font-family: Geist Mono;
  font-weight: 500;
}

.introduction > .left-card > .child-2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}
.introduction > .left-card > .child-3 {
  font-size: 16px;
  color: #3f3a3b;;
  padding-bottom: 20px;
}

.introduction > .left-card > img {
  height: 60%;
}
.introduction > .right-card {
  border: 0.1px solid #eeeeee;
  margin-right: 10px;
  border-radius: 30px;
  padding: 25px;
  width: 42%;
}
.introduction > .right-card :first-child {
  font-size: 12px;
  color: #0c8c5e;
  font-family: Geist Mono;
  font-weight: 500;
}

.introduction > .right-card > .child-2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}
.introduction > .right-card > .child-3 {
  font-size: 16px;
  color: #3f3a3b;;
  padding-bottom: 20px;
}

.introduction > .right-card > img {
  height: 45%;
  padding-top: 20px;
}
.assistent {
  border: 0.1px solid #eeeeee;
  margin: 100px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.assistent > .child-1 {
  font-size: 12px;
  color: #0c8c5e;
  font-family: Geist Mono;
  font-weight: 500;
  padding-top: 25px;
  text-align: center;
}
.assistent > .child-2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;
}
.assistent > .child-3 {
  font-size: 16px;
  color:  #3f3a3b;;
  padding-bottom: 30px;
  text-align: center;
}
.assistent > img {
  height: 100%;
  padding-bottom: 15px;
}

.gray-page {
  background-image: linear-gradient(#f7f7f7);
  padding-bottom:96px;
  z-index: -2; 
}
.enterprise {
  display: flex;
  align-items: center;
  /* border: 0.1px solid rgba(128, 128, 128, 0.3); */
  padding-top: 96px;
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 48px;
  justify-content: space-between;
}
.enterprise > .text > .child-1 {
  font-size: 12px;
  color: #0c8c5e;
  font-family: Geist Mono;
  font-weight: 500;
}
.enterprise > .text > .child-2 {
  font-size: 36px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 24px;
}
.enterprise > .text > .child-3 {
  font-size: 16px;
  color: #3f3a3b;;
  padding-bottom: 30px;
}

.enterprise > button {
  background-color: black;
  border: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
.trust {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 48px;
}
.trust > .left-side > .child-2 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
}
.trust > .left-side > .child-3 {
  font-size: 16px;
  color: #3f3a3b;
}
.trust > .right-side > .child-2 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
}
.trust > .right-side > .child-3 {
  font-size: 16px;
  color: #3f3a3b;
}
.layout-of-image{
display: flex;
justify-content: center;
align-items: center;
}

.image-mask {
  background-image: url(https://www.mintlify.com/enterprise/anthropic.svg);
  
  
  background-size: auto;
  background-repeat: no-repeat;
  
  overflow: hidden;
    width: 1020px; 
   height: 518px; 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: #f7f7f7;
  border-radius: 30px;
  padding: 60px;
  margin-bottom: 30px;
   
}


.image-mask > .upper-section > .text-1 {
  font-family:Geist Mono;
  font-weight: 600;
  font-size: 12px;
}

.image-mask > .upper-section > .text-2{
  font-size:  24px;
  margin-top:16px ;
}
.image-mask > .upper-section > .above-image-button{
  display: flex;
  align-items: center;
  margin-top: 34px;
  gap: 3px;
}
.button-in-image{
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: white;
}
.image-mask > .lower-section {
  display: flex;
  gap: 20px;

  
  margin-top: 136px;
}

.lower-section > div > .text-1  {
  font-size: 40px; 
  padding-bottom: 15px;
}
.lower-section > div > .text-3{
  font-size: 40px;
  padding-bottom: 15px;
}
.lower-section > div > .text-2 {
  font-size: 14px;
  color: #cbcbcc;
}
.lower-section > div > .text-4 {
  font-size: 14px;
  color: #cbcbcc;
}
.image-mask:hover{
  background-color: rgba(0, 0, 0, 1);
}

.gray-trust-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap:100px;
}
.customer{
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.customer > .text-1{
  font-family: Geist Mono;
  font-weight: 500;
  font-size: 12px;
  color: #0c8c5e;
}
.customer > .text-2{
  font-size: 40px;
color: #111111;
font-weight: 600;
padding: 20px 0px;
}
.customer > .text-3{
font-size: 16px;
color: #3f3a3b;
text-align: center;
}
.card-content{
  font-size: 13px;
  padding: 12px 0px;
  color: #3a3b3c;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-content >span{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#838585 ;
}
.card-content >span >a:hover{
  color: #0c8c5e;
}
.card-content >span >a {
text-decoration: none;
color:#838585 ;
}
.card-row{
  display: flex;
  justify-content: center;
  gap: 10px;
  
  
}
.image-bg{
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 15px;
}

.button-below-cards{
  display: flex;
  justify-content: center;
  padding-top: 48px;
  

}
.buttom-cta{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  padding: 0px 24px;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 50px;
}
.buttom-cta > .button {
display: flex;
gap: 10px;

}
.buttom-cta > .button > button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
.buttom-cta > .button > .bt-1{
  background-color: #111111;
  color: #f7f7f7;
}
.buttom-cta > .button > .bt-2{
  background-color: transparent;
  color: #111111;
  border: 0.2px solid #eeeeee;
}
.text > .child-1{
  font-size: 40px;
  color: #111111;
  
}
.text > .child-2{
  font-size: 16px;
 color:  #3a3b3c;
 padding-top: 15px;
}
.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
 
}
.left-one , .right-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 20px;
  
 
}
.left-one {
  border-right: 0.2px solid #eeeeee ;
}
.left-one > span >a , .right-one  > span >a {
  text-decoration: none;
  color: #0c8c5e;
}
.text-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #111111;
}
.text-paragraph{
  padding-top: 10px;
  font-size: 16px;
  color: #3f3a3b;
  
}
.buttom-full-line{
  width:100% ;
 
  border-top:0.2px solid #eeeeee; 
}
.Social-outer{
  
  display: flex;
  justify-content: center;
  
}
.Social{
  width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 64px 32px 24px;
  border-left:0.2px solid #eeeeee  ;
  border-right: 0.2px solid #eeeeee;
  max-width: 100%;
  
}

.list-outer{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.list{
  width: 1024px;
  flex-direction: row;
  display: flex;
   justify-content: space-between;
   padding: 48px 32px 72px;
   border: 0.2px solid #eeeeee;
  
   
} 
.list > .list-all{
  font-size: 14px;
  font-weight: 500;
color: #111111;
display: flex;
flex-direction:row;

}

.list > .list-all > ul{
  display:flex ;
  flex-direction: column;
  gap: 15px;
}
.list > .list-all> ul>:first-child{
  font-size: 13px;
  color: #7f8080;
}
.list > div  > ul >li {
list-style-type: none;
}
.security-outer{
  display: flex;
  justify-content: center;
}
.security > img{
  width: 70px;
}
.security{
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 24px 32px;
   border: 0.2px solid #eeeeee;
   border-top: none;
   font-size: 16px;
   color: #111111;
   font-weight: 400;
}

.footer-outer{
  display: flex;
  justify-content: center;
}
.footer > #img-2{
  width: 70px;
  border-radius: 30px;
}
.footer > #img-1{
  width: 140px;
  border-radius: 35px;
}
.footer >p{
  font-size: 13px;
   color: #7f8080;
}
.footer{
  width: 1024px;
  display: flex;
justify-content: space-between;
align-items: center;
padding: 32px 32px 96px;
border-left:   0.2px solid #eeeeee; 
border-right:  0.2px solid #eeeeee;
}